body {
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
}
.heading {
  text-align: center;
  width: 30%;
}
.chat {
  background-color: aliceblue;
  width: 25%;
  padding: 1rem;
  padding-top: 0.2rem;
}

.msg {
  background-color: dodgerblue;
  color: white;
  padding: 5px 10px;
  border-radius: 1rem;
}
.newChatBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 10px 5px;
    background-color: beige;
}
.date{
    display: flex;
    justify-content: space-between;
}
