*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
header{
    text-align: center;
    margin: 1rem  ;
    color: rgb(95, 105, 241);
}
header span{
    color: #ff004f;
}
header>h1{
    font-size: 3.5rem;
}
.txtArea{
    margin: 1rem;
}

.txtAreaElements{
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.3rem;
}

.ulTasks{
    margin: 1rem 3rem;
    font-size: 1.3rem;
    width: 35%;
}
.delete{
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.3rem;
}
.liTask{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: circle;
}
.task{
    word-wrap: break-word;
    max-width: 70%;
}